<%- include('./partials/header') %>
<div class="jumbotron">
  <p>
    First of all, thanks for visiting! And thanks for caring enough to read more
    about the project!
  </p>
  <p>
    This idea came to life one night when a group of friends were discussing the
    enigma known as Nicolas Cage. A quick scroll through Rotten Tomatoes

  </p>
</div>
<%- include('./partials/footer') %>
