<%- include('./partials/header') %>
<div id="wrapper">
  <div class="jumbotron" id="text">
    <h1 class="center-align">THE CAGE PAGE</h1>
    <p>
      Have you ever wanted to watch a really terrible Nicolas Cage movie, 
      but are concerned about how you can get through it without drinking heavily?
      Fear no more; the Cage-Page has got your back!
    </p>
    <p>
      Search through Nic Cage's seemingly bottomless canon to find your movie, and have 
      a look at some user-created rules to turn it into a drinking game! Add new rules as they
      come up, and once you're finished, give a drink to the rules that made you 
      finish yours. 
    </p>
    <a class="btn btn-success btn-large log-in" href="/auth/google"><i class="material-icons">login</i>LOG-IN</a>
    <img id="image" src="https://img1.looper.com/img/uploads/2015/10/craziestnicolascageroles.jpg" alt="">
  </div>
</div>

<%- include('./partials/footer') %>
