<%- include('./partials/header') %>

    <h1>Cage Page</h1>
    <p>Welcome to Cage Page</p>

    <form class="text-center" action="/movies" method="GET">
      <button class="btn btn-success" type="submit">list!</button>
    </form>


<%- include('./partials/footer') %>
