<%- include('./partials/header') %>
<div id="wrapper">
  <div class="jumbotron" id="text">
    <h1>CAGE PAGE</h1>
    <p>
      Welcome to the Cage-Page! Log in to get started!
    </p>
    <a class="btn btn-success log-in" href="/auth/google"><span class="oi oi-account-login"></span>Log-in</a>
  </div>
  <div class="jumbotron" id="image">

  </div>
</div>

<%- include('./partials/footer') %>
