/* COLORS
#545F66
#829399
#D0F4EA
#E8FCC2
#B1CC74
*/

@media only screen and (min-width: 576px) {
  .card-content {
    height: 14vh;
  }
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-items: center;
  background-color: #829399
}

i {
  font-size: small;
}

.navbar-brand {
  font-size: 60px;
  text-decoration: none;
  color: #D0F4EA;
  margin-left: 10px;
}

.card {
  align-items: center;
}

#details {
  display: flex;
}

.nav-link {
  color: darkgray;
}

.btn-outline-dark {
  text-decoration: none;
  border-radius: 10%;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.btn-outline-dark:hover {
  text-decoration: none;
}

.logged-in-nav {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-icon {
  display: inline !important;
  color: white !important;
  margin-right: 4px !important;
}

main {
  padding: 20px;
  align-items: center;
}

.btn-details {
  width: 100%;
}

.card-title {
  font-size-adjust: auto;
}

.card-content {
  height: 14vh;
}

.card-action {
  padding: 16px 16px !important; 
}

#add-review-form input {
  width: max-content;
}

.rules {
  text-align: left;
}

#user-name {
  display: none;
}

#image {
  display: block;
  margin: auto;
  width: 100%;
  margin-top: 1vh;
}

.nav-wrapper {
  background-color: #545F66
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#text {
  margin: auto;
  padding: 10px;
  width: 65%;
}

.log-in {
  align-self: center;
}

.card-cascade {
  width: 15%;
  margin: auto;
}

.card-show {
  margin: auto;
  padding: 10px 40px 0px 40px;

  width: 100%;
}

.card-footer {
  width: 100%;
}


.sidenav {
  width: 20%;
  background-color: #545F66;
}

.sidenav li > a{
  color: white;
  font-weight: 800;
}

.cage-icon {
  height: 35px;
  margin-bottom: -7px;
  margin-left: 10px;
}

