body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


nav {
  background-color: lightgray;
  margin: none;
}

.card-img-top {
  /* width: 40%; */
}

.movie-list {
  display: grid;
}

.card {
  align-items: center;
}

#details {
  display: flex;
}

.logged-in-nav {
  color:
  text-decoration: none;
  text-transform: uppercase;
}

main {
  padding: 20px
}

.btn-details {
  width: 100%;
}

.card-title {
  font-size-adjust: auto;
}

#add-review-form > input {
  width: 100%;
}

.rules {
  text-align: left;
}

#user-name {
  display: none;
}
